#map { 
    width: 1080px;
    height: 480px;
    margin: auto;
    margin-top: 50px;
}
/*style du formulaire*/
table{
    border-collapse: collapse;
}
tr, th, td {
    border: 2px solid black;
}
td{
    padding: 10px;
}