#map { 
    width: 1080px;
    height: 480px;
    margin: auto;
    margin-top: 50px;
}
/*style du formulaire*/
table{
    border-collapse: collapse;
    position: relative;
    margin:auto;
}
tr, th, td {
    border: 2px solid black;
    font-weight: bold;
}
td{
    padding: 5px;
}
input{
    width: 40px;
    position: relative;
}
caption{
    font-weight: bold;
    background-color: #0AD;
}
button{
    align-items: center;
}
/*gestion de popup*/
center{
    color:black;
}
#libele{
    font-weight: bold;
}
#ville{
    color:#3F84B8;
    font-weight:bold;
}
#temps{
    color:#3F84B8;
    font-weight:bold;
}